parameters:
	ignoreErrors:
		-
			message: "#^Method mxr576\\\\ddqgComposerAudit\\\\Infrastructure\\\\Ddqg\\\\PackageVersionConstraintsFromDdqgComposerJson\\:\\:extract\\(\\) should return array\\<string, string\\> but returns array\\<int\\|string, mixed\\>\\.$#"
			count: 1
			path: src/Infrastructure/Ddqg/PackageVersionConstraintsFromDdqgComposerJson.php

		-
			message: "#^Cannot cast Symfony\\\\Component\\\\Console\\\\Input\\\\InputInterface to string\\.$#"
			count: 1
			path: src/Presentation/Composer/Plugin.php

		-
			message: "#^Method mxr576\\\\ddqgComposerAudit\\\\Presentation\\\\Composer\\\\Plugin\\:\\:activate\\(\\) throws checked exception RuntimeException but it's missing from the PHPDoc @throws tag\\.$#"
			count: 1
			path: src/Presentation/Composer/Plugin.php
